{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Inventory project{% endblock title %}</title>
        {% block styling %}
            {# Load Twitter Bootstrap http://getbootstrap.com/ #}
            {# With Amelia theme from http://bootswatch.com/amelia/ #}
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'style/style.css' %}">
        {% endblock styling %}

        {% block javascript %}
            <script src="{% static 'jquery-2.0.3.min.js' %}"></script>
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        {% endblock javascript %}
    </head>
    <body>



    <nav class="container-fluid navbar navbar-default">
        <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'redirect_to_main' %}">Inventory</a>
        </div>

        <div>
            {% if perms.inventoryKMA.add_task %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'add_task' %}">Task</a>
                            </li>
                            <li>
                                <a href="{% url 'add_classroom' %}">Classroom</a>
                            </li>
                            <li>
                                <a href="">Add assistant from user</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View and manage <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'classrooms_list' %}">Classrooms list</a>
                            </li>
                            <li>
                                <a href="{% url 'assistants_list' %}">Assistants list</a>
                            </li>
                            <li>
                                <a href = ""> Complaints list </a>
                            </li>
                            <li>
                                <a href="{% url 'unmanaged_classrooms_list' %} ">Unmanaged classrooms</a>
                            </li>
                            <li>
                                <a href="{% url 'unmanaged_tasks_list' %}">Unmanaged tasks</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            {% endif %}

            {% if perms.inventoryKMA.delete_task %}
                 <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'current_tasks' %}">Current tasks</a>
                    </li>
                 </ul>

                 <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'finished_tasks' %}">Finished tasks</a>
                    </li>
                 </ul>
            {% endif %}
        </div>

         <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href=" {% url 'inventory_logout' %} ">Logout</a></li>
            {% else %}
                <li><a href="{% url 'inventory_login' %}">Login</a></li>
            {% endif %}
         </ul>
    </nav>


    {% block content %}
    {% endblock content %}


     <div class="footer navbar-fixed-bottom" style="text-align:center">
        <div class="panel-footer">Copyright 2015 © </div>
     </div>


    </body>
</html>
