{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Please login
{% endblock title %}

{% block content %}
    <div class="well" style="margin:auto;padding:auto;width:400px;margin-top:50px;margin-bottom:50px">

	<fieldset>
            <legend>
                Sign in
            </legend>
        <div class="panel-body">
            <form role="form" class="form-horizontal" method="post" action="{% url 'inventory_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </fieldset>
    </div>
{% endblock content %}