{% extends "base.html" %}

{% block content %}

    <div class="container" style="text-align:center;width:400px;">
        <h3>Classrooms list</h3>
        <div style="margin:auto;padding:auto;">
            <ul class="list-group">
                {% for classroom in classrooms%}
                    <li class="list-group-item">
                          <a href = "{% url 'classroom_show' classroom.number %}">Classroom {{classroom.number}} </a>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>



{% endblock content %}